<div id="about" class="about-container">
  <div class="content">
    <h1>What is Fawateer?</h1>
    <div class="divider"></div>
    <p>
      Fawateer is a solution that consists of issuing, transmitting, receiving, processing and storing invoices
      electronically, using specific document formats, these are digital throughout the entire document life cycle, from
      issuance to archiving.
    </p>
    <p>
      Fawateer can help replace manual tasks with automated business rules and actions to
      increase efficiency, minimize and error handling.
    </p>
  </div>
  <div class="items">
    <app-about-item *ngFor="let item of aboutItems;" [item]="item"></app-about-item>
  </div>
</div>