<!-- <mat-toolbar *ngIf="(isXSmall| async) ">
  <button type="button" aria-label="Toggle sidenav" mat-icon-button>
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <a class="nav-logo" routerLink="/"><img src="assets/images/green-logo.png"></a>
</mat-toolbar> -->

<!-- *ngIf="(isXSmall| async) === false" -->
<div>
  <div class="main-navbar">
    <a class="nav-logo" routerLink="/"><img src="assets/images/green-logo.png"></a>
    <div class="nav-items">
      <a class="nav-item" routerLink="/" routerLinkActive="active">Home</a>
      <a class="nav-item" routerLink="/" routerLinkActive="active">What is Fawateer?</a>
      <a class="nav-item" routerLink="/" routerLinkActive="active">Features</a>
      <a class="nav-item" routerLink="/" routerLinkActive="active">Benefits</a>
      <a class="nav-item" routerLink="/" routerLinkActive="active">Contacts Us</a>
    </div>

  </div>
</div>