<div id="contact-us" class="contact-Container">
  <mat-card>
    <div class="header">
      <h1>Get in touch with us</h1>
      <div class="icons">
        <!-- <img src=""> -->
      </div>
    </div>
    <div class="divider"></div>

    <form class="contact-form">
      <mat-form-field class="form-item">
        <mat-label>Full name</mat-label>
        <input matInput placeholder="Please enter your full name">
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>Organization</mat-label>
        <input matInput placeholder="Please enter organization name">
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>Phone number</mat-label>
        <input matInput placeholder="Please enter phone number">
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>Work email address</mat-label>
        <input matInput placeholder="Ex. pat@example.com">
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>How we can help you?</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
    </form>
  </mat-card>
</div>