$text-jungle-green: #29b965;
$text-black: #0000;
$text-white: #ffff;
$text-iron: #dddede;
$text-drove-grey: #616161;

$bg-black-haze: #f5f7f6;
$bg-black: #000;
$bg-alto: #d1d1d1;

$btn-stromboli: #2c4f3f;
